################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SEWorldBorder/bin
/SEWorldBorder/obj/Debug
/SEWorldBorder/obj/x64/Debug
